{% extends 'base.html' %}
{{ super() }}
{% block title %}<Title>Клуб "ФИТНЕС"</Title>{% endblock %}
{% block body %}
<body bis_register="W3sibWFzdGVyIjp0cnVlLCJleHRlbnNpb25JZCI6ImVwcGlvY2VtaG1ubGJoanBsY2drb2ZjaWllZ29tY29uIiwiYWRibG9ja2VyU3RhdHVzIjp7IkRJU1BMQVkiOiJkaXNhYmxlZCIsIkZBQ0VCT09LIjoiZGlzYWJsZWQiLCJUV0lUVEVSIjoiZGlzYWJsZWQiLCJSRURESVQiOiJkaXNhYmxlZCJ9LCJ2ZXJzaW9uIjoiMS45LjAzIiwic2NvcmUiOjEwOTAzfV0=" cz-shortcut-listen="true">

<main>
    <div class="p-5 mb-4 bg-light rounded-3" bis_skin_checked="1">
      <div class="container-fluid py-5" bis_skin_checked="1">
        <h1 class="display-5 fw-bold">Добро пожаловать в Клуб "ФИТНЕС"</h1>
        <p class="col-md-8 fs-4">Наши двери всегда открыты для новых и постоянных посетителей.</p>
      </div>
    </div>

    <div class="row align-items-md-stretch" bis_skin_checked="1">
      <div class="col-md-6" bis_skin_checked="1">
        <div class="h-100 p-5 text-bg-dark rounded-3" bis_skin_checked="1">
          <h2>Новейшее оборудование</h2>
          <p> Мы регулярно проводим проверку и по мере необходимости отправляем тренажер на ремонт или закупаем новое.</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
      </div>
      <div class="col-md-6" bis_skin_checked="1">
        <div class="h-100 p-5 bg-light border rounded-3" bis_skin_checked="1">
          <h2>Наши наставники - мастера своего дела</h2>
          <p> С нашим профессиональным штабом тренеров каждый сможет добиться желаемых результатов.</p>
        </div>
      </div>
    </div>
</main>


<div bis_skin_checked="1">
    <div id="twoseven-ext-tab-media-modal" class="twoseven-ext-tab-media-modal" style="display: none;" bis_skin_checked="1">
      <!-- Modal content -->
      <div class="twoseven-ext-tab-media-modal-content" bis_skin_checked="1">
        <div class="iframe-container" style="height: 100%; width: 100%;" bis_skin_checked="1">
          <span class="close">×</span>
        </div>
      </div>
    </div></div></body>

<img class="d-block w-100" src="static/img/img1.jpg" alt="First slide">



{% endblock %}
